<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

    <header>

      <div class="logo">
          <a href="#"><img src="assets/ED.png" alt="logo"></a>
        
      </div>
      <h1> <b class="e">Enfor</b> <b class="d">cement</b>  <b class="e"> Direc</b> <b class="d">torate</b> <b> ~ Sign Up</b></h1> 


      <nav>
          <ul>
             
            <button (click) = "closeRegisterForm()" class="backbtn">Back</button>

          </ul>

          
      </nav>

  </header>


    <body>

      <div class="wrapper">  
        <h2>Personal Information</h2>
        <button class="Register">Register</button>

      </div>

    </body>

       <footer>

          <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
          <br> Vishnuparasu7@gmail.com
          <br> www.algoriant.com <br> [ any bug message karo ]</p>
  
          </footer>
  
  </html>
  