<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

    <header>

      <div class="logo">
          <a routerLink = '/home'><img src="assets/ED.png" alt="ED"></a>
        
      </div>
      <h2>Forgot User Credentials</h2>

      <nav>
          <ul>
             
            <button (click) = "backToSignIN()" class="backbtn">Back</button>

          </ul>

          
      </nav>

  </header>


    <body>

    <div class="wrapper">

    <p>If Forgot your Credential you need to contact ED Officer or Admin to Know or change the Credential, Try to Remeber your Credential</p>
    <p>You can contact us via :</p>
    <label for="">Phone : <a>1234567890</a></label><br>
    <label for="">Gmail : <a href="mailto:EnforcementDirectorate@gmail.com">EnforcementDirectorate@gmail.com</a></label>

    

    </div>

      
    </body>

       <footer>

          <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
          <br> Vishnuparasu7@gmail.com
          <br> www.algoriant.com <br></p>
  
          </footer>
  
  </html>
  