<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

 <header>

      <div class="logo">
          <a href="#"><img src="assets/ED.png" alt="logo"></a>
        
      </div>

      <h3>Contact</h3>

      <nav>
                <ul>
                    <li><a routerLink = '/home'>Home</a></li>
                    <li><a routerLink = '/home/service' >Service</a></li>
                    <li><a routerLink = '/home/contact' class="active">Contact</a></li>
                    <button (click) = "loginForm()" class="loginbtn">Sign In</button>


                </ul>


          
      </nav>

  </header>

<body>

<div class="wrapper">
    <div class="office">

        <p>

            Information on contraventions under FEMA/offences under PMLA may be sent to <br>

            Joint Director (Intelligence) <br>

        </p>

          
               <address>
                Headquarters Office <br>

                Directorate of Enforcement <br>

                Pravartan Bhawan, APJ Abdul Kalam Road <br>

                New Delhi – 110 011 <br>

                e-mail: ED@gamil.com <br>
               </address>

    </div>

    <div class="office">

    
    <p>
        Head Office <br>

    Joint Director (Admin) <br>
    </p>

    <address>

    Directorate of Enforcement <br>

    Pravartan Bhawan, APJ Abdul Kalam Road <br>

    New Delhi – 110 011 <br>

</address>

        
    </div>

</div >


        <div class="w">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.8746590026394!2d77.21760767535736!3d28.60353677568051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd24b3d8ebb9%3A0x72de7f20a781ed40!2sEnforcement%20Directorate%20Delhi%20Zonal%20Office!5e0!3m2!1sen!2sin!4v1701136119805!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>


</body>



 <footer>

        <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
        <br> Vishnuparasu7@gmail.com
        <br> www.algoriant.com <br> [ any bug message karo ]</p>

        </footer>

</html>
  