header {
  background-color:#333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
}

.logo img {
  height: 117px;
  cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 30px;
    margin-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    
}

nav a {
    text-decoration: none;
    color: rgb(250, 246, 246);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li :hover {
    color: green;
    text-underline-offset: auto;
}

nav a.active {
    color: gold; 
  }
  
.loginbtn {
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    
  
    background-color: #e7f0e7; 
    color: rgb(17, 17, 17);
  
    border: 1px solid #4CAF50;
    border-radius: 5%;
  
   
    transition: background-color 0.3s ease;
  }

  .loginbtn:hover {
    color: white;
    background-color: #45a049; 
  }

  .wrapper {
    display : flex;
    font-family: 'Times New Roman', Times, serif;
    border: 20px solid #333;
  
  

  }

  .wrapper .office {
   
    color: black;
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 12px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border: 20px solid #333;
  }
   
  .wrapper .office p {
    font-weight: bolder;
    font-size: 16px;
  }


 .w iframe {
  margin-top: 25px;
    margin-left: 170px;
    width: 75%;
    border: 15px solid #333;
 }
 .w {
  border: 15px solid #333;
  background-color: #333;

 }