header {
    background-color:#333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

.logo img {
    height: 117px;
    cursor: pointer;
}

.backbtn {
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    
  
    background-color: #e7f0e7; 
    color: rgb(17, 17, 17);
  
    border: 1px solid #4CAF50;
    border-radius: 5%;
  
   
    transition: background-color 0.3s ease;
}

.backbtn:hover {
    color: white;
    background-color: green;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    width: 500px;
    height: auto;
    color: white;
    background-color:#333;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 550px;
    margin-top: 100px;
    margin-bottom: 100px;
}



.wrapper .input-box {
    width: 75%;
    height :50px;
    margin : 30px 0;
    margin-left: 63px;
    color: #e7f0e7;

}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 45px 20px 20px;
   
}


.input-box input::placeholder {
    color: black;
  
}

.pay {
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 140px;   
    width: 200px; 
    background-color: #e7f0e7; 
    color: rgb(17, 17, 17);
  
    border: 1px solid #4CAF50;
    border-radius: 10px;
   
    transition: background-color 0.3s ease;
}
 
.pay:hover {
    color: white;
    background-color: green;
}
.fetch:hover {
    color: white;
    background-color: green;
}

.fetch{

    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 350px;   
    margin-top: 1px;
    width: 70px; 
    background-color: #e7f0e7; 
    color: rgb(17, 17, 17);
  
    border: 1px solid #4CAF50;
    border-radius: 10px;
   
    transition: background-color 0.3s ease;

}