<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

    <header>

      <div class="logo">
          <a routerLink = '/home'><img src="assets/ED.png" alt="ED"></a>
        
      </div>


      <nav>

          <ul>
             
            <button (click) = "BackPage()" class="backbtn">Back</button>

          </ul>

          
      </nav>

  </header>


    <body>

        <div class="wrapper">

            <form >


              <div class="input-box">

                <input type="text" name="username" disabled="true" placeholder="Eduid01" required> 

              </div>

              <div class="input-box">

                <input type="text" name="password" placeholder="Sender Acct No" required> 

              </div>

              <div class="input-box">

                <input type="text" name="password" placeholder="Sender Acct Balance" required> 

              </div>

              <div class="input-box">

                <input type="text" name="password" placeholder="Recevier ID" required> 

              </div>
              <div class="input-box">

                <input type="text" name="password" placeholder="Recevier Acct No" required> 

              </div>
              <div class="input-box">

                <input type="text" name="password" placeholder="Amount" required> 

              </div>
              <div class="input-box">

                <input type="text" name="password" placeholder="Sender Bank Name" required> 

              </div>
              <div class="input-box">

                <input type="text" name="password" placeholder="Recevier BaNk Name" required> 

              </div>
              <div class="input-box">

                <input type="text" name="password" placeholder="Sender Bank countery" required> 

              </div>
              <div class="input-box">

                <input type="text" name="password" placeholder="Recevier bank countery" required> 

              </div>

              <button class="pay">Pay</button>

             
            </form>
        </div>
        </body>

       <footer>

          <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
          <br> Vishnuparasu7@gmail.com
          <br> www.algoriant.com <br> [ any bug message karo ]</p>
  
          </footer>
  
  </html>
  