<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

    <header>

      <div class="logo">
          <a routerLink = '/home'><img src="assets/ED.png" alt="Enforcement Directorate"></a>
        
      </div>
    
      <nav>
          <ul>
            <li><a routerLink ='/home' >Home</a></li>
            <li><a routerLink = '/home/Eda-page'>Profile</a></li>
            <li><a routerLink='/home/Eda-page/Manager' class="active">Manage</a></li>
             <button class="signout" (click) = "logout()">Sign Out</button>
           
          </ul>

          
      </nav>

  </header>


    <body>

      

       <div class="dashbord">

       <ul>
            <li><a routerLink="/home/Eda-page/Manager/Manage-User"><div class="div1">User</div></a></li>
            <li><a routerLink="/home/Eda-page/Manager/Manage-Officer"><div>Officer</div></a></li>
            <li><a routerLink="/home/Eda-page/Manager/Manage-Admin"><div>Admin</div></a></li>
        </ul> 
        
        <ul>
            <li><a routerLink="/home/Eda-page/Manager/Manage-Creden"><div>Credential</div></a></li>
            <li><a routerLink="/home/Eda-page/Manager/Manage-Role"><div>Role</div></a></li>
            <li><a routerLink="/home/Eda-page/Manager/Manage-Payment"><div>Bank</div></a></li>
        </ul>

       </div>

    </body>

       <footer>

          <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
          <br> Vishnuparasu7@gmail.com
          <br> www.algoriant.com <br></p>
  
          </footer>
  
  </html>
  