header {
    background-color:#333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

.logo img {
    height: 117px;
    cursor: pointer;
}

.backbtn {
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    
  
    background-color: #e7f0e7; 
    color: rgb(17, 17, 17);
  
    border: 1px solid #4CAF50;
    border-radius: 5%;
  
   
    transition: background-color 0.3s ease;
}

.backbtn:hover {
    color: white;
    background-color: green;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-top: 70px;  
    margin-bottom: 70px;  
    background-color: white;
    padding: 10px 15px;

}

.wrapper {
    width: 500px;
    height: 400px;
    color: white;
    background-color:#333;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 20px;
}

.wrapper h1 {
    margin-top: 10px;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}


.wrapper .input-box {
    width: 75%;
    height :50px;
    margin : 30px 0;
    margin-left: 63px;
    color: #e7f0e7;

}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
   
}

.input-box:hover {

    border: 3px solid green;
    border-radius: 40px;
}

.input-box input::placeholder {
    color: black;
  
}


.wrapper .btn1 {
   width: 45%;
  margin-left: 130px;
   height: 45px;
   background: #fff;
   border: none;
   outline: none;
   border-radius: 40px;
   box-shadow: 0 0 10px rgba(0, 0, 0, -1);
   cursor: pointer;
   font-size: 16px;
   color: #333;
   font-size: 20px;
   font-weight: 600;
   transition: background-color 0.2s ease;
}

.e {
    color: red;
  }
  .d {
    color: gold;
  }

.wrapper .btn1:hover {

    color: white;
    background-color: green;

}

.wrapper p {
    margin-top: 10px;
    text-align: center;
    text-decoration:none;
    color: white;
    font-weight: bolder;
}

.wrapper .forgot {
    color : red ;
}


.loading-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
    
  }

  .loading-overlay h2 {
    color: black;
  }
  
  .gif {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
  }

