<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

    <header>

      <div class="logo">
          <a routerLink = '/home'><img src="assets/ED.png" alt="ED"></a>
        
      </div>
      <h1> Officer <b> ~ Sign Up</b></h1> 


      <nav>
          <ul>
             
            <button (click) = "closeRegisterForm()" class="backbtn">Back</button>

          </ul>

          
      </nav>

  </header>


    <body>

      <div class="wrapper-note">
        <h3>Note<span>*</span></h3>
       
          <ul>
            <li>first</li>
            <li>second</li>
            <li>third</li>
          </ul>
       
      </div>

      <div class="wrapper">  
        <h2>Personal Information</h2>

        <form class="singUpForm">


          <label for="Name">Enter Name:<span>*</span></label>
          <input class="input-box" id="Name" type="text" placeholder="eg: Ram V" name="name" [(ngModel)]="officerRequest.name"><br>

          <label for="date">Enter Date Of Brith:<span>*</span></label>
          <input type="text" name="date" placeholder="eg: yyyy-mm-dd" [(ngModel)]="officerRequest.dob"><br>

          <label for="gender">Select Gender :</label>
          <select id="gender" name="gender" [(ngModel)]="officerRequest.gender">
            <option selected=" " disabled>--select---</option>
            <option [ngValue]="'Male'">Male</option>
            <option [ngValue]="'Female'">Female</option>
            <option [ngValue]="'Others'">Others</option>
          </select><br>

          <label for="phone">Enter Phone Number:<span>*</span> </label>
          <input type="text" name="phone" id="phone" placeholder="eg: 10 digit no" [(ngModel)]="officerRequest.pho"><br>

          <label for="gmail">Enter Gmail:<span>*</span></label>
          <input type="email" name="gmail" id="none" required placeholder="eg: vishnu@gmail.com" [(ngModel)]="officerRequest.gmail"><br>

          <label for="fname">Enter Father Name:</label>
          <input type="text" name="fname" placeholder="eg: Vishnu" [(ngModel)]="officerRequest.fname"><br>

          <label for="adhar">Enter Adhar number:<span>*</span></label>
          <input type="text" name="adhar" placeholder="xxxx-xxxx-xxxx" [(ngModel)]="officerRequest.adharNumber"><br>
        </form>

      </div>

      <div class="wrapper">

        <form>
          <h2>Job Information</h2>

          <label for="ql">Enter Qualification:<span>*</span></label>
          <input type="text" name="ql" placeholder="eg: B.Sc, M.Sc, etc" [(ngModel)]="officerRequest.qualification"><br>

          <label for="job">Enter Work Field:<span>*</span></label>
          <input type="text" name="Job" placeholder="eg: IT,Former,Political,etc" [(ngModel)]="officerRequest.job"><br>

          <label for="jobPosition">Enter Posititon in That Field:</label>
          <input type="text" name="jobPosition" placeholder="eg: HR,Developer,etc"[(ngModel)]="officerRequest.jobPosition"><br>

          <label for="salary">Enter Average Salary (P/Month):<span>*</span></label>
          <input type="text" name="salary" placeholder="eg: 1,00,000" [(ngModel)]="officerRequest.salary"><br>

          <label for="jsd">Enter the Join Date On that Work:<span>*</span></label>
          <input type="text" name="jsd" placeholder="eg: yyyy-mm-dd" [(ngModel)]="officerRequest.jsd"><br>

        </form>
        <button (click)="createOfficer()" class="Register">Register</button>
      </div>


      

    </body>

       <footer>

          <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
          <br> Vishnuparasu7@gmail.com
          <br> www.algoriant.com <br></p>
  
          </footer>
  
  </html>
  