<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

 <header>

      <div class="logo">
          <a routerLink = '/home'><img src="assets/ED.png" alt="ED"></a>
        
      </div>

      <h3>Services</h3>

      <nav>
                <ul>
                    <li><a routerLink = '/home' >Home</a></li>
                    <li><a routerLink = '/home/service' class="active">Service</a></li>
                    <li><a routerLink = '/home/contact' >Contact</a></li>
                    <button *ngIf= "!isLogin()" (click) = "loginForm()" class="loginbtn">Sign In</button>
                    <button *ngIf ="isLogin()" (click) = "goProfile()"  class="loginbtn">Profile</button>
                
                </ul>


          
      </nav>

  </header>

<body>
   <div class="wrapper">


    <div class="img">
        <img src="assets/EDSPC.png" alt="">

        
    </div>

        <div class="text">

            <h1> Special courts</h1>
    <p>
        For the trial of an offence punishable under section 4 of PMLA, the Central Government (in consultation with the chief justice of the High Court), designates one or more Sessions Court as Special Court(s). The court is also called "PMLA Court". Any appeal against any order passed by PMLA court can directly be filed in the High Court for that jurisdiction.[10]

    </p>        
        </div>

    </div>
   <div class="wrapper">

    <div class="text">

        <h1>Criticism</h1>

    <p> In July 2022, according to data shared by the union government in Parliament, only 23 people have been convicted in 5,422 cases registered under the Prevention of Money Laundering Act (PMLA)[11] in the 17 years after the law was passed, which is a conviction rate of less than 0.5%. The cases by ED have gone up six times in Prime Minister Narendra Modi's second term, which led to accusations by opposition parties stating that ED is being misused by the BJP for their political ends.[12] In April 2023, Supreme Court of India turned down a petition by 14 opposition parties accusing the Narenda Modi led government of misusing central agencies.[13] In August 2023, in a debate in the parliament, union home minister Meenakshi Lekhi from BJP told the opposition, "keep quiet, or ED may may arrive at your home"[14]

        PMLA Misconduct on Scholars and Researchers
        The Enforcement Directorate has been criticized for targeting scholars and activists. People are worried that the Prevention of Money Laundering Act (PMLA) is being misused to quiet those who disagree with the government. Many activists and scholars have signed a letter speaking against this. A big example of this is when researcher Navsharan Singh was questioned by the ED. Many people did not like this. People are now discussing the balance between safety and the right to speak freely. Many believe it's crucial to protect free speech in a democracy.[15][16]
        </p>

        
    </div>

    <div class="img">
        <img src="assets/CRTC.png" alt="">


    </div>

    

   </div>

   <div class="wrapper">

    <div class="img">
        <img src="assets/LAW.png" alt="">


    </div>

    <div class="text">
        <h1>Main Laws and Acts of the ED</h1>

    <p>

        Foreign Exchange Management Act, 1999 ( FEMA ) <br><br>

        Prevention Of Money Laundering Act, 2002 ( PMLA ) <br><br>

        Fugitive Economic Offenders Act, 2018 ( FEOA ) <br><br>

        Conservation of Foreign Exchange and Prevention of Smuggling Activities Act, 1974 (COFEPOSA) <br><br>

    </p>
    </div>

   </div>



   <div class="wrapper">

    <div class="img">

        <img src="assets/IS.webp" alt="">

    </div>

    <div class="text">

        <h1>Internal structure</h1>

    <p>Assistant Enforcement Officer-Enforcement Officer-Assistant Director-Deputy Director-Joint Director-Special Director-Director. However, with increasing workload and to adjust the hierarchical needs other designations like additional director are also introduced. AEOs are promoted to various levels of hierarchy and serve the Directorate of Enforcement throughout their career however a large chunk of officers are taken on deputation at various level and they remain on temporary basis in ED for 2 to 5 years.
    </p>
    </div>

   </div>



<div class="wrapper">

    <div class="img">

        <img src="assets/ARREST.jpg" alt="">

    </div>

    <div class="text">
        <h1>ED's Arrest Powers Limited</h1>

    <p>

        On 27 July 2022, The Supreme Court of India upheld the provisions of the act and retained the powers of the Enforcement Directorate under the PMLA,[18][19][20] which was criticized for putting the personal liberty of citizens at risk by the undue process allowed by the provisions of PMLA.[21][22]
        On 22 August 2022, Supreme Court accepted a petition to review its 27 July 2022 judgement which upheld core amendments made to the Prevention of Money Laundering Act (PMLA).[23] On 25 August 2022, Supreme Court said that two provisions, not providing a copy of the Enforcement Case Information Report to the accused, and reversal of the presumption of innocence, need reconsideration.[24]
        In a significant ruling, the Supreme Court of India clarified that Enforcement Directorate (ED) officials are not equivalent to police officers and hence, cannot make arrests under the Prevention of Money Laundering Act (PMLA). The apex court's decision came in response to the case presented by V. Senthil Balaji and liquor syndicate racket in Chhattisgarh. Emphasizing the importance of adhering to the rule of law, the Supreme Court stated that the ED cannot operate as "a law unto itself." This landmark judgment underscores the boundaries of power and authority vested in the ED, ensuring checks and balances in its operations.[25][26]


    </p>
    </div>

</div>


</body>



 <footer>

        <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
        <br> Vishnuparasu7@gmail.com
        <br> www.algoriant.com <br></p>

        </footer>

</html>
  
