<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

    <header>

      <div class="logo">
          <a routerLink = '/home'><img src="assets/ED.png" alt="Ed" ></a>
      </div>
      
      <nav>
          <ul>

            <button class="signout" (click) = "Back()">Back</button>           
             
          </ul>

          
      </nav>

  </header>


    <body>
      <div class="wrapper">  
        <h2>Personal Information</h2>

        <form class="singUpForm">


          <label for="Name">Enter Name:<span>*</span></label>
          <input class="input-box"  name="edaid" id="Name" type="text" placeholder="Id" [(ngModel)]="request.edaid"><br>

          <label for="Name">Enter Name:<span>*</span></label>
          <input class="input-box" name="name" id="Name" type="text" placeholder="eg: Ram V" [(ngModel)]="request.name"><br>

          <label for="date">Enter Date Of Brith:<span>*</span></label>
          <input type="text" name="date" placeholder="eg: yyyy-mm-dd" [(ngModel)]="request.dob"><br>

          <label for="gender">Gender :</label>
          <select id="gender" name="gender" [(ngModel)]="request.gender">
            <option disabled>--select---</option>
            <option [ngValue]="'Male'">Male</option>
            <option [ngValue]="'Female'">Female</option>
            <option [ngValue]="'Others'">Others</option>
          </select><br>

          <label for="phone">Enter Phone Number:<span>*</span> </label>
          <input type="text" name="phone" id="phone" placeholder="eg: 10 digit no" [(ngModel)]="request.pho"><br>

          <label for="gmail">Enter Gmail:<span>*</span></label>
          <input type="email" name="gmail" id="none" required placeholder="eg: vishnu@gmail.com" [(ngModel)]="request.gmail"><br>

          <label for="fname">Enter Father Name:</label>
          <input type="text" name="fname" placeholder="eg: Vishnu" [(ngModel)]="request.fname"><br>

          <label for="adhar">Enter Adhar number:<span>*</span></label>
          <input type="text" name="adhar" placeholder="xxxx-xxxx-xxxx" [(ngModel)]="request.adharNumber"><br>
        </form>
        <button (click)="updateAdmin()" class="Register">Save Changes & Exit</button>
      </div>

    

    </body>

       <footer>

          <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
          <br> Vishnuparasu7@gmail.com
          <br> www.algoriant.com <br></p>
  
          </footer>
  
  </html>
  