<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

    <header>

      <div class="logo">
          <a routerLink = '/home'><img src="assets/ED.png" alt="ED"></a>
        
      </div>

      <h1>Manage ~ Admin</h1>
      <nav>

          <ul>
             
            <button  (click) = "BackPage()" class="backbtn">Back</button>

          </ul>

          
      </nav>

  </header>


    <body>

      <div class="profile">

        <button (click)="showForm()" class="add">Create</button>
          <table>
           
            <tbody>
              <tr>
                <th>ID</th>
                <th>name</th>
                <th>Gender</th>  
                <th>Date Of Brith</th>
                <th>Phone Number</th>
                <th>gmail </th>
                <th>modify & view </th>
                <th>Remove</th>
                </tr>
                <tr *ngFor="let admin of getDisplayData()">
                  
                  <td>{{admin.edaid}}</td>
                  <td>{{admin.name}}</td>
                  <td>{{admin.gender}}</td>
                  <td >{{admin.dob}}</td>
                  <td>{{admin.pho}}</td>
                  <td >{{admin.gmail}}</td>
                  <td ><button  class="view" (click) = "view(admin.edaid)">View & Edit</button></td>
                  <td ><button (click)="remove(admin.edaid)" class="Remove">Remove</button></td>
                  
                </tr>  

                </tbody>
          </table>
          <button [disabled]="currentPage === 1" (click)="previousPage()" class="pre">Previous</button>
          <button [disabled]="currentPage === totalPages()" (click)="nextPage()" class="nex">Next</button>
        </div>

      </body>

       <footer>

          <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
          <br> Vishnuparasu7@gmail.com
          <br> www.algoriant.com <br> </p>
  
          </footer>
  
  </html>
  