<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

    <header>

      <div class="logo">
          <a routerLink = '/home'><img src="assets/ED.png" alt="Ed" ></a>
      </div>
     
      <h1> <b class="e">Enfor</b> <b class="d">cement</b>  <b class="e"> Direc</b> <b class="d">torate</b></h1>
      
      <nav>
          <ul>

            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/home/Edu-page" class="active">Profile</a></li>
            <li><a routerLink="/home/Edu-page/Bank-info">Bank</a></li>
            <li><a routerLink="User-Payment">Payment</a></li>
            <button class="signout" (click) = "logout()">Sign Out</button>           
             
          </ul>

          
      </nav>

  </header>


    <body>

      <div class="profile">

        <table>
          <tbody>
            <tr>
              <td>ID</td>
              <td>EDUID01</td>
            </tr>
            <tr>
              <td class="coller">name</td>
              <td class="coller">parasuraman</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>Male</td>
            </tr>
            <tr>
              <td class="coller">Date Of Brith</td>
              <td class="coller">27-09-2003</td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td>8825893416</td>
            </tr>
            <tr>
              <td class="coller">gmail</td>
              <td class="coller">vishnuparasu&@gamil.com</td>
            </tr>
            <tr>
              <td>Father Name</td>
              <td>Parasuraman</td>
            </tr>
            <tr>
              <td class="coller">Community</td>
              <td class="coller">BC</td>
            </tr>
            <tr>
              <td>religion</td>
              <td>hindu</td>
            </tr>
            <tr>
              <td class="coller">Adhar Number</td>
              <td class="coller">xxxx xxxx xxxx</td>
            </tr>
            <tr>
              <td>address</td>
              <td>pandurangan kovil st veerangipuram kandachipuram villupuram dist</td>
            </tr>
            <tr>
              <td class="coller">qulalification</td>
              <td class="coller">B.Sc, M.Sc, M.phil, Phd Computer Science</td>
            </tr>
            <tr>
              <td>Job</td>
              <td>IT induestry Employee</td>
            </tr>
            <tr>
              <td class="coller">Jop POsition</td>
              <td class="coller">Developer</td>
            </tr>
            <tr>
              <td>salary</td>
              <td>1000000</td>
            </tr>
            <tr>
              <td class="coller">Joining date of Job</td>
              <td class="coller">24-05-2024</td>
            </tr>
          </tbody>
        </table>

      </div>

    </body>

       <footer>

          <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
          <br> Vishnuparasu7@gmail.com
          <br> www.algoriant.com <br> [ any bug message karo ]</p>
  
          </footer>
  
  </html>
  