header {
    background-color:#333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
  }
  
  .logo img {
    height: 117px;
    cursor: pointer;
  }



footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.e {
  color: red;
}
.d {
  color: gold;
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 30px;
  margin-top: 8px;
  font-family: 'Times New Roman', Times, serif;
}

nav a {
  text-decoration: none;
  color: rgb(250, 246, 246);
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

nav ul li :hover {
  color: red;
  text-underline-offset: auto;
}

nav a.active {
  color: gold; 
}

.signout {
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    
  
    background-color: #e7f0e7; 
    color: rgb(17, 17, 17);
  
    border: 1px solid #4CAF50;
    border-radius: 5%;
  
   
    transition: background-color 0.3s ease;

}
    .signout:hover {
      color: white;
      background-color: #45a049; 
    }

    .container {
      max-width: 800px; 
      margin : auto; 
      padding: 5px; 
      display: inline;
      font-family: 'Times New Roman', Times, serif;;
    }
    
    .imagebanner {
      width: 100%; 
      height: auto; 
      border-radius: 25px;
    }

.profile{
  margin: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;  
  border-radius: 25px;
  color: white;
}

th,td {
  padding: 8px;
  text-align: left;
}

tbody tr,td{
  border: 2px solid white;
  background-color: #333;
}

.coller {
  background-color: hwb(0 27% 71%);
}