<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ED Home</title>
    </head>

    <header>

      <div class="logo">
          <a href="#"><img src="assets/ED.png" alt="logo"></a>
        
      </div>
     

      <nav>
          <ul>
             
           

          </ul>

          
      </nav>

  </header>


    <body>

   <p>user works!</p>

    </body>

       <footer>

          <p>&copy; <b> Enforcement Directorate. </b> <br>All rights reserved. <br> <br> <u> Developer Info</u> <br> <br>Parasuraman D <br> Java Developer at algoriant
          <br> Vishnuparasu7@gmail.com
          <br> www.algoriant.com <br> [ any bug message karo ]</p>
  
          </footer>
  
  </html>
  